/* Tags */
html,
body {
    margin: 0 auto;
    width: 100%;
    height: 100%;

    /* font */
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

hr {
    min-width: 310px;
    width: 90%;
    max-width: 900px;
    border: 0;
    border-top: 1px solid rgb(0, 0, 0, 0.2);
}

Form {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    row-gap: 20px;
    width: 300px;
}

label {
    font-weight: 700;
    padding: 3px 2px 3px 2px;
}

input {
    outline: none;
    border-style: solid;
    border-color: lightgray;
    border-radius: 5px;
    text-decoration: none;
    min-height: 35px;
    width: 100%;
    text-align: center;
    color: #2c3e50;
    font-size: 16px;
    font-weight: 500;
    padding: 2px 0 2px 0;
}

button {
    padding: 10px 15px 10px 15px;
    background-color: #f7a81b;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.1s;
}

button:hover {
    background-color: #7875D7;
}

button:disabled, button:disabled:hover {
    background-color: #f7a81b;
    opacity: 0.6;
    cursor: default;
}

select {
    position: relative;
    color: #102c40;
}

/* Classes */
.error {
    color: red;
    margin-left: auto;
    margin-right: auto;
}

.form-container {
    min-height: 150px;
    border-radius: 10px;
    text-align: center;
}

.input-container {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.logo {
    width: 60%;
    max-width: 400px;
    margin: 2em 0 2em 0 ;
}

.link {
    text-decoration: solid;
    color: #f7a81b;
    cursor: pointer;
    text-decoration: underline;
}

.link:hover {
    color: #f9cc7e;
}